.body {
  max-width: 1280px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.popup {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  height: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 70%;
  background-color: rgba(0, 0, 0, .3);
  transition: all .4s ease;
  z-index: 10;
  user-select: none;
}
.popup_opened {
  height: 100vh;
  visibility: visible;
  opacity: 1;
  transition: all .5s ease;
}

.popup_place_header {
  display: flex;
  user-select: none;
  flex-direction: column;
  z-index: 10;
  background-color: #fff;
  justify-content: space-around;
}

.check {
  margin: 50px auto;
}

.check__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.check__input {
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 1px solid #808080;
  margin: 20px 0 5px 0;
}

.check__input:focus {
  outline: none;
}

.check__button {
  border-radius: 5px;
  border: 0;
  width: 200px;
  height: 50px;
  background-color: #808080;
}

.check__text {
  font-family: inherit;
  font-size: 10px;
  font-weight: 500;
  align-self: flex-start;
  margin-bottom: 20px;
}


.header {
  min-height: 60px;
  display: flex;
  border-bottom: 1px solid #808080;
  margin: 70px 0;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  width: 50px;
  height: 40px;
  background-image: url(../images/button-header/Text.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  background-color: initial;
}

.header__button:focus {
  border: none;
}

.header__button:hover {
  cursor: pointer;
}
.two-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  height: 620px;
  max-width: 1280px;
  margin: 40px auto;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  background-color: #f1f8ff;
  border-radius: 10px;
}

.container-list {
  list-style: url(../images/round-account-button-with-user-inside_icon-icons.com_72596.png);
  background-color: #f1f8ff;
}

.container-list__item {
  margin-bottom: 10px;
  background-color: rgb(121, 211, 195);
  border-radius: 15px 5px;
  max-width: 90%;
  color: #fff;
  padding-bottom: 10px;
  padding-left: 5px;
}

.iframe-content {
  width: 65%;
  border: none;
  margin-right: 10px;
  border-top: 1px solid #808080;
  opacity: .8;
}

.avatar {
  position: relative;
  width: 100px;
  height: 30px;
  background-image: url(../images/button_profile/icon__profile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.avatar:hover {
  cursor: pointer;
}

.avatar__title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  top: 0;
  right: -100px;
}

.avatar__info {
  width: 100%;
  object-fit: cover;
  margin-top: -100px;
}

.input-list {
  width: 100%;
  border: none;
  height: 40px;
}

.input-list:focus {
  outline: 1px solid #f00;
}

.button-submit {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 20px;
  height: 30px;
  background-image: url(../images/button_chat/more_vert_24px_rounded.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: initial;
  border: 0;
  color: #fff;
}

.button-submit:hover {
  cursor: pointer;
}

.form {
  position: relative;
  width: 90%;
  margin: 0 auto 20px auto;
  border-radius: 5px;
}

.container__title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: -50px;
  left: 10px;
}

.container-group {
  position: absolute;
  right: 5px;
  top: -40px;
  background-image: url(../images/group/Group_10.png);
  width: 130px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  outline: 0;
}

.container-group:hover {
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  max-width: 1280;
  width: 100%;
  border-top: 1px solid #808080;
  min-height: 40px;
}

.footer__text {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  margin-left: 20px;
  color: #808080;
}