{% extends 'chat/base.html' %}
{% load static %}

{% block conteiner %}

    <nav class="header">
        <a class="avatar"></a>
        <button class="header__button"></button>
        <div class="popup popup_place_header">
            <div class="avatar">
                <span class="avatar__title">Студент</span>
            </div>
            <img class="avatar__info" src="{% static 'images/info.png' %}" alt='info'>
        </div>
    </nav>
    <div class="two-container">
        <iframe class="iframe-content" allowfullscreen type="text/html"  scrolling="auto"
                src="https://codebeautify.org/jsviewer"></iframe>
        <div class="container">
            <h1 class="container__title">Group chat</h1>
            <select class="container-group">
                <option class="container-group__item"></option>
                <option class="container-group__item">😎</option>
                <option class="container-group__item">🤦‍♀️</option>
                <option class="container-group__item">👀</option>
                <option class="container-group__item">🤦‍♂️</option>
                <option class="container-group__item">🤢</option>
                <option class="container-group__item">😊</option>
                <option class="container-group__item">🐱‍🐉</option>
            </select>

            <ul id="chat-log" class="container-list">
                {#              <li class="container-list__item">#}
                {#                <button class="container-list__icon"></button>#}
                {#                1#}
                {#              </li>#}
            </ul>
            <div class="form">
                <input id="chat-message-input" type="text" class="input-list" placeholder="Введите текст">
                <button id="chat-message-submit" type="button" class="button-submit"></button>
            </div>

            {#            <textarea id="chat-log" cols="100" rows="20"></textarea><br>#}
            {#            <input id="chat-message-input" type="text" size="100"><br>#}
            {#            <input id="chat-message-submit" type="button" value="Send">#}
            {{ room_name|json_script:"room-name" }}
            {#    <script>#}
            {#        const roomName = JSON.parse(document.getElementById('room-name').textContent);#}
            {##}
            {#        const chatSocket = new WebSocket(#}
            {#            'ws://'#}
            {#            + window.location.host#}
            {#            + '/ws/chat/'#}
            {#            + roomName#}
            {#            + '/'#}
            {#        );#}
            {##}
            {#        chatSocket.onmessage = function(e) {#}
            {#            const data = JSON.parse(e.data);#}
            {#            document.querySelector('#chat-log').value += (data.message + '\n');#}
            {#        };#}
            {##}
            {#        chatSocket.onclose = function(e) {#}
            {#            console.error('Chat socket closed unexpectedly');#}
            {#        };#}
            {##}
            {#        document.querySelector('#chat-message-input').focus();#}
            {#        document.querySelector('#chat-message-input').onkeyup = function(e) {#}
            {#            if (e.keyCode === 13) {  // enter, return#}
            {#                document.querySelector('#chat-message-submit').click();#}
            {#            }#}
            {#        };#}
            {##}
            {#        document.querySelector('#chat-message-submit').onclick = function(e) {#}
            {#            const messageInputDom = document.querySelector('#chat-message-input');#}
            {#            const message = messageInputDom.value;#}
            {#            chatSocket.send(JSON.stringify({#}
            {#                'message': message#}
            {#            }));#}
            {#            messageInputDom.value = '';#}
            {#        };#}
            {#    </script>#}


        </div>
    </div>




{% endblock %}


